@import "https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css";

* {
  box-sizing: border-box;
}

input {
  all: unset;
  box-sizing: border-box;
  appearance: none;
}

body {
  background-color: rgba(255, 255, 255);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  color: white;
}

form {
  width: 100%;
}

.nweet-input::placeholder {
  color: white;
  opacity: 0.9;
}

.container {
  width: 100%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
}

.formInput {
  width: 100%;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid black;
  text-align: center;
  background-color: white;
  color: black;
}

.formBtn {
  cursor: pointer;
  width: 100%;
  padding: 7px 20px;
  text-align: center;
  color: white;
  border-radius: 20px;
  background-color: #04aaff;
  cursor: pointer;
  font-weight: bold;
}

.cancelBtn {
  cursor: pointer;
  background-color: tomato;
  border: none;
  font-weight: bold;
}

.container {
  width: 100%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
}

.nweetEdit .formBtn {
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 5px;
}

.mind-user {
  position: relative;
  left: -19px;
  top: -20px;
  font-size: 19px;
  font-weight: bold;
}

.mind-user-email {
  position: relative;
  top: -15px;
  left: -18px;
  color: rgb(44, 44, 44);
  font-weight: 300;
  opacity: 0.6;
}
.nweet {
  background-color: white;
  width: 100%;
  max-width: 320px;
  padding: 30px;
  padding-bottom: 45px;
  border: 1px solid #ddd;
  position: relative;
  display: flex;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.8);
}

.nweet h4 {
  font-size: 17px;
}

.nweet img {
  right: 5px;
  top: -3px;
  border-radius: 10px;
  position: absolute;
  width: 70px;
  height: 70px;
  margin-top: 10px;
}

.nweet__actions {
  position: absolute;
  right: 90px;
  top: 10px;
}

.nweet__actions span {
  cursor: pointer;
}

.nweet__actions span:first-child {
  margin-right: 15px;
}
